<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <a class="nav-item" href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
            <a class="nav-item" href="{% url 'post_new' %}">New Post</a>
            <a class="nav-item" href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                Logout
            </a>
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                {% csrf_token %}
            </form>
        {% else %}
            <a class="nav-item" href="{% url 'login' %}">Login</a>
            <a class="nav-item" href="{% url 'signup' %}">Signup</a>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>

